@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Aurebesh";
	src: url("public/fonts/aurebesh/Aurebesh.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "AurebeshCondensed";
	src: url("public/fonts/aurebesh/AurebeshCondensed.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@layer base {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-800 my-2 rounded
  }
  ::-webkit-scrollbar-thumb{
    @apply bg-slate-700 rounded
  }
  ::-webkit-scrollbar-thumb:hover{
    @apply bg-slate-600
  }
}
